<aside class="sidebar">
  <a class="navbar-brand" [routerLink]="['/']">Survey</a>
  <div class="" id="navbarText">
    <ul class="mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/']" routerLinkActive="active" title="back to Home" class="nav-link" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/survey']" routerLinkActive="active" title="go to list" class="nav-link" [routerLinkActiveOptions]="{exact: true}">List of survey</a>
      </li>
    </ul>
  </div>
</aside>