<div class="big-title">
  <h1>List of surveys</h1>
</div>
<div class="container">
  <div class="table-wrapper">
    <table class="table">
      <colgroup>
        <col width="90%">
        <col width="10%">
      </colgroup>
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of surveys">
          <td>{{survey.name}}</td>
          <td><a [routerLink]="['/survey', survey.code]" title="">{{survey.code}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>