.result {
  margin-bottom: 20px;
}
.result .card {
  min-height: 395px;
}
.btn.disabled, .btn:disabled {
  opacity: 1;
}
.card h6 {
  margin-bottom: 10px;
}
table {
  border: solid 1px #dee2e6;
}
#filter {
  margin-bottom: 20px;
}
#filter label {
  margin-right: 10px;
}
.alert {
  margin: 0;
}
.card-header h5 {
  margin: 0;
}
h1 {
  padding: 10px 0 0;
  font-size: 30px;
}
.detail {
  padding-bottom: 40px;
}